<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.movieapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginScreen.Login"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginScreen.NewAccount"></activity>
        <activity android:name=".loginScreen.TokenValidation"></activity>
        <activity
            android:name=".loginScreen.PasswordLogin"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".loginScreen.SignUpContinue"></activity>
        <activity android:name=".loginScreen.NewPassword">


        </activity>
        <activity
            android:name=".loginScreen.ResetPasswordConfirm"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".homeScreen.Home">

        </activity>
    </application>

</manifest>