<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginScreen.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginScreen.NewAccountActivity" />
        <activity android:name=".loginScreen.TokenValidationActivity" />
        <activity
            android:name=".loginScreen.PasswordLoginActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".loginScreen.SignUpContinueActivity" />
        <activity android:name=".loginScreen.NewPasswordActivity"></activity>
        <activity
            android:name=".loginScreen.ResetPasswordConfirmActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".homeScreen.HomeActivity"
            android:configChanges="orientation"></activity>
        <activity android:name=".homeScreen.MovieDetailActivity"></activity>
    </application>

</manifest>